<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rogacz" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Koło łowieckie nr 14 \"Rogacz\" w Hrubieszowie" %>">
    <%= favicon_link_tag 'favicons/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "180x180" %>
    <%= favicon_link_tag 'favicons/favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: "32x32" %>
    <%= favicon_link_tag 'favicons/favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: "16x16" %>
    <%= favicon_link_tag 'favicons/manifest.json', rel: 'manifest' %>
    <%= favicon_link_tag 'favicons/safari-pinned-tab.svg', rel: 'mask-icon', color: "#5bbad5" %>
    <meta name="theme-color" content="#ffffff">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
